@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.logo-comunidade {
    height: 72px;
}

.menu {
    display: flex;
    gap: 32px;
}

.menu-item {
    font-family: 'Ubuntu', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
}

.conteudo-page {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
}

.page-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.page-text {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.page-text-title {
    font-family:  'Inconsolata', monospace;
    font-weight: 400;font-size: 64px;
    color: #FFF2E7;
}

.page-text-subtitle {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ECD6C4;
}

.page-text-button {
    background-color: #ECD6C4;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2F2325;

}

.page-text-button:hover {
    background-color: rgba(236, 214, 196, 0.53);
    cursor: pointer;
}
.page-principal-img {
    height: 430px;
}

.page-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.page-secundario-title {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2EF;
    margin-bottom: 16px;
}

.page-secundario-p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ECD6C4;

}

.footer {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

.footer-img {
    height: 48px;
    display: block;
    margin: 0 auto;
}
